PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/chieu_ngan_flower?retryWrites=true&w=majority
JWT_SECRET=chieu_ngan_flower_super_secret_key_123456
NODE_ENV=development

# Cloudinary Credentials (Get these from your Cloudinary Dashboard)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Initial Admin Credentials (used during seed)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminpassword123
